body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: center;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.to-do-entry {
    font-family: 'Source Sans Pro', sans-serif;
    color: red  
}

div {
    align-content: center;
}

h1 {
    color: red
}
