{% load static %}
<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <header>

        <h1 id="head">To Do List</h1>

    </header>
    <div>
        <h2><a href="{% url 'home' %}">Home</a></h2>
    </div>
    <div>
        <h2><a href="{% url 'to_do_create' %}">Create to do list</a></h2>
    </div>
    <div>
        <h3>These are your to do lists:</h3>
    </div>
    <div>
    {% block content %}
    {% endblock content %}
    </div>
</body>
</html>